<div class="pure-u-1 content">
    <div class="article-nav back-icon">
        <i class="fa fa-arrow-circle-o-left fa-3" ng-click="jumpToURL('/blog')"></i>
        <div class="article-share">
            <i class="fa fa-facebook fa-2"></i>
            <i class="fa fa-twitter fa-2"></i>
            <i class="fa fa-tumblr fa-2"></i>
            <i class="fa fa-weibo fa-2"></i>
            <i class="fa fa-weixin fa-2"></i>
        </div>
    </div>
    <div class="article-header">
        <h1 ng-bind="blog.title"></h1>
        <h2 ng-show="blog.subtitle" ng-bind="blog.subtitle"></h2>
    </div>
    <div class="markdown-body">
        <div class="content">
            <div btf-markdown="markdown">
            </div>
        </div>
    </div>
    
</div>