<div class="pure-u-1 content">
    <!-- A wrapper for all the blog posts -->
    <div class="posts">
        <h1 class="content-subhead">Pinned Post</h1>

        <!-- A single blog post -->
        <section class="post" ng-repeat="blog in blogsList | filter: {'pinned':true}">
            <header class="post-header">

                <h2 class="post-title">{{blog.title}}</h2>

                <p class="post-meta">
                    Created at <a herf="#">{{blog.create_time | date:'yyyy-MM-dd'}} </a><a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a>
                </p>
            </header>

            <div class="post-description">
                <p>
                    {{blog.abstract}}
                </p>
            </div>
            <div class="read-more">
                <a href="#/article/{{blog.id}}">Read More</a>
            </div>
        </section>
    </div>

    <div class="posts">
        <h1 class="content-subhead">Recent Posts</h1>
        <section class="post" ng-repeat="blog in blogsList | filter: {'pinned':false}">
            <header class="post-header">

                <h2 class="post-title">{{blog.title}}</h2>

                <p class="post-meta">
                    Created at <a herf="#">{{blog.create_time | date:'yyyy-MM-dd'}} </a><a class="post-category post-category-js" href="#">JavaScript</a>
                </p>
            </header>

            <div class="post-description">
                <p>
                    {{blog.abstract}}
                </p>
            </div>
            <div class="read-more">
                <a href="#/article/{{blog.id}}">Read More</a>
            </div>
        </section>
    </div>
</div>